

.bg-primary{

	background: #00afef;
}

html, body {

    /*overflow-y: hidden;*/
    /*font-family: montserratregular!important;*/
}

footer {
    background-color: #363636;
    padding: 20px 0;
    color: white;
}

.left{
	text-align: left;
}

.map-div{

	/*padding: 10px 20px;*/
}


.nav{

    padding-right: 20%;
}
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 3;
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

.center{
	text-align: center;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
  background: url(../img/bg1.png) no-repeat center center; 
}


.fade-carousel .slides .slide-2 {
  background: url(../img/bg2.png) no-repeat center center;
}

.fade-carousel .slides .slide-3 {
  background: url(../img/bg3.png) no-repeat center center;
}

.fade-carousel .slides .slide-4 {
  background: url(../img/bg4.png) no-repeat center center;
}

/*.fade-carousel .slides .slide-4 {
  background: url(../img/bg4.png) no-repeat center center;
}*/
/*.fade-carousel .slides .slide-3 {
  background-image: url(../img/bg1.png);
  background-size: 70%;
  background-position: left;
      margin-left: 10%;
}*/

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
    color: rgb(61, 61, 61);
}


.navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
    color: #00afef;
}

.btn, .navbar-default .nav>li>a {
    font-family: Lato,Helvetica,Arial,sans-serif;
    text-transform: none;
    letter-spacing: 2px;
}

.navbar-default.affix .nav>li>a:focus:hover, .navbar-default.affix .nav>li>a:hover {
    color: #00afef;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #00afef!important;
    background-color: transparent;
}

#mainNav{

	padding:15px; 
}

.navbar-default .nav>li>a {
    font-size: 16px;
    font-weight: 400;
}

.navbar-default .nav>li>a:hover{

	border-bottom:5px solid #00afef;


}

.form-control {
        margin: 20px;
    display: block;
    width: 95%;
    height: 34px;
    padding: 20px 15px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #772020;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

.btn-primary {
    color: #fff;
    background-color: #00afef;
    border: none;
}

.btn {
    border-radius: 3px;
    width: 150px;
    padding: 8px;
}

.steelo{

    position: absolute;
    top: -73px;
    right: 20px;
    font-size: 85px;
    font-weight: bold;
    color: #00afef;
}


.beginning{
   position: absolute;
    top: 200px;
    left: -223px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 85px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.68);
}

#products{

    position: relative;
    -webkit-transition: 2s;
    /*width: 5000px;*/
}

.products{
       
    position: absolute;
    top: 400px;
    right: -84px;
    transform: rotate(-90deg);
    font-size: 70px;
    font-weight: 700;
    color: rgba(0, 175, 239, 0.54);
}
.navbar-brand {
    padding:0;
}



.small-products{

    text-align: left;
    font-size: 40px!important;
    font-weight: bold;
    color: #00afef


}
.active{

    border-bottom: 5px solid #00afef;
}
.small-beginning{

    text-align: left;
    font-size: 40px!important;
    font-weight: bold;
}

.half-dash{

    width: 45px;
    height: 9px;
    background-color: white;
    margin: 0;

}

.no-mar{
    margin:0;

}
.no-pad{
    padding: 0;
}
#company{

    position: relative;
}

.btn, .navbar-default .nav>li>a {
    font-family: Century Gothic;
    text-transform: inherit;
    letter-spacing: 2px;
    font-size: 14px!important;
}

.company{

position: absolute;
    left: -220px;
    top: 154px;
    ansform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(90deg);
    font-size: 96px;
    font-weight: bold;
    color: rgba(238,238,238,.8);
}

.strategy{

    position: absolute;
    top: -32px;
    right: 20px;
    font-size: 96px;
    font-weight: bold;
    color: rgba(238,238,238,.8);
}

.company-strategy{

    font-size: 40px!important;
    font-weight: bold;
    text-align: left;
    padding: 0px 18px;
}

.button{
    background: #00afef;
    border: none;
    outline: none;
    padding: 15px;
    width: 160px;
    color: white;
}

.bold{
    font-size: 24px;
}

#contact{

    position: relative;
}






.scope-of-work{

    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #00afef;
}

.scope-of{

    position: absolute;
    top: -25px;
    right: 30px;
    font-size: 96px;
    font-weight: bold;
    color: rgba(0, 175, 239, 0.34);
}

.work{
    
    position: absolute;
    top: 110px;
    right: -19px;
    -webkit-transform: rotate(0deg);
    transform: rotate(90deg);
    font-size: 96px;
    font-weight: bold;
    color: black;
    color: rgb(168, 228, 250);
}

section.contact h2, section.cta .cta-content h2{
    margin:0;
}

.touch{
    font-weight: 800;
    font-size: 35px;
    color: #9a9d9d;
}

.company-name{
font-size: 30px;
    font-weight: 700;
    color: #757575;
}

.pro-desc{

        font-weight: 800;
    color: white;
}
.pro-underline{

    width: 40px;
    height: 8px;
    background-color: white;
}

.navbar-right li{

    margin-left: 5px;
}

.pad-100{

            padding: 0 100px;
}

.pad-35{

        padding: 0 35px;
}

body {
    font-family: montserratthin,sans-serif;
    webkit-tap-highlight-color: #222;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.pad-5{
    padding: 10px;
}

.mar-top-10{
    margin-top:10px;
}

.scrolldown{
        position: absolute;
    bottom: 20px;
    left: 50%;
}

.position-relative{

    position: relative;
}

header {
/*    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    background: url(../img/bg-pattern.png),#7b4397;
    background: url(../img/bg-pattern.png),-webkit-linear-gradient(to left,#7b4397,#dc2430);
    /* background: url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430); */
    /*color: #fff;*/

    background: none;
    overflow: hidden;
}

.parallax { 
    /* The image used */
    background-image: url("../img/para3.jpg");
    /*background-color: black;*/
    /* Set a specific height */
    height: auto; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.white{
    color: white;
}

.bottle-hover{

        -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition:1s;
    -o-transition: 1s;
    transition: 1s;


}

.bottle-hover:hover{

    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition:1s;
    -o-transition: 1s;
    transition: 1s;

    cursor: pointer;
    -ms-transform: rotate(14deg); /* IE 9 */
    -webkit-transform: rotate(14deg); /* Chrome, Safari, Opera */
    transform: rotate(14deg);
}

.beginning-hover-img{

        /*opacity: 0.8;*/
        -webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);

}

.beginning-hover-img:hover{

        cursor: pointer;
        /*opacity: 1;*/
        -webkit-filter: blur(0px); /* Chrome, Safari, Opera */
    filter: blur(0px);

}

.beginning-hover{
    display: none;
    position: absolute;
    top: 0;
    width: 72%;
    height: 94%;
    background-color: rgba(0,0,0,0.50);


}


section.download {
    padding: 70px 0;
    position: relative;
}

section {
    padding: 70px 0;
}

.hover-text{

    text-align: center;
    margin-top: 150px;
    font-weight: bold;
}


.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


/*.more-products-list{

    display: none;
}*/


.more-products{
    
    cursor: pointer;
}

    
#more-products{

    display: none;
}

.accordion-group{

    background-color: #fbfbfb;
}

.accordion-body {
        padding: 0px 15px;
}
.accordion-inner p{

    padding: 5px;

}


.accordion-heading:hover{

    cursor: pointer;

}

.accordion-inner,.accordion-toggle p:hover{

    cursor: pointer;
    
}
.collapse.in {
    display: block;
    /*padding: 5px 20px;*/
}

.accordion-heading{

    background-color: rgb(0, 170, 242);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 900;
        border-bottom: 5px solid black;
}


a:focus, a:hover {

    color: white;
    text-decoration: none;
}

a{
    color: #00aff3;
}

.thumbnails{

        padding: 10px;
    /*border: 1px solid black;*/
}

.thumbnails{

    cursor: pointer;
    /*border: 1px solid black;*/
}

.product-image{
        -webkit-transform: rotate(7deg);
    transform: rotate(19deg);
    padding: 10px;
}
.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }


.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}

.row .col-md-3{
    /*border:1px solid black;*/
}


@media (max-width: 768px) {

     .beginning-hover-img{

        padding: 5%;
     }

    p{
        font-size:12px;
    }

.beggning-pad{

    padding-left: 17%;
} 

    section.download h2 {
    margin-left: 15%;
}

.half-dash {
   margin-left: 15%;
}

    .pad-100 {
    padding: 0 20px;
}

    #bs-example-navbar-collapse-1{

        border:none;
    }
    #mainNav {
    padding: 8px;
}

.nav {
    padding-right: 0;
}

    #products{
        display: none;
    }


    #more-product{
        display: none;

    }

}